@charset "UTF-8";
/* CSS Document */
*{
    box-sizing: border-box; 
    margin: 0px; 
    padding: 0px; 
    font-size: 100%;}
body{
    margin: 0px;
    padding: 0px;
    color: #000;
    font-family:YuGothic, "Yu Gothic medium", "Hiragino Sans", Meiryo, "sans-serif";
    font-size: 18px;
    line-height: 2;
    background: #fff;}
img { 
    border: none; 
    max-width: 100%; 
    height: auto;}
a { 
    color: #666; 
    text-decoration: none; 
    transition: 0.3s;}

.text-center {text-align: center;}
.text-right {text-align: right;}
.text-left {text-align: left;}
.m-auto {margin: auto;}

#container { 
    max-width: 1400px; 
    margin: 0 auto; 
    padding: 0;}
header { padding: 10px 20px;}
header #logo img{ width: 140px;}
footer { 
    text-align: center; 
    padding: 30px 0px 10px; 
    font-size: 0.8rem;}
footer .footer-logo { 
    width: 100px; 
    margin: 50px auto;}
/*スマホ調整用*/
@media screen and (max-width:767px){
    #container{ width: auto;}
    footer {
        text-align: center; 
        padding: 10px;}
    .break-sm { display: block;}
}

.mainlayer {
    position: relative; 
    height: 580px;}
.mainlayer .layer-txt { 
    line-height: 1; 
    font-size: 5.6rem; 
    font-weight: bold; 
    padding: 60px 30px; }
.mainlayer .layer-bg { 
    width: 1400px; 
    height: 580px; 
    background: url("../images/main_21.png") no-repeat bottom right;
    position: absolute;
    z-index: -1;
    right: 0;
    bottom: 0;
    }
.mainlayer .layer-btn{ padding: 0px 30px;}
.mainlayer .layer-btn p{
    font-size: 1.2rem;
    font-weight: bold;}
/*スマホ調整用*/
@media screen and (max-width:767px){
    .mainlayer{ height: auto;}
    .mainlayer .layer-txt{ 
        font-size:2.2rem;
        padding: 40px 10px;}
    .mainlayer .layer-bg{
        width: auto;
        height: 460px;
        position: initial;}
    .mainlayer .layer-btn { 
        padding: 30px 20px;
        width: auto;}
}
.problem {
    background: #82b6cc;
    font-size: 1.2rem;
    color: #fff;
    padding: 80px 50px}

.problem h2 { 
    font-size: 4.6rem;
    font-weight: bold;}
.problem h3 { 
    font-size: 3.6rem;
    font-weight: bold;
    margin-top: 100px;}
.problem h4 { 
    font-size: 1.6rem;
    font-weight: bold;
    color: #ff0;}
.problem h5 { 
    font-size: 1.2rem;
    font-weight: bold;
    color: #ff0;
    background: #333;
    display: inline-block;
    padding: 10px 20px;
    margin-top: 50px;}
.problem img.ai{ width: 80%;}
.problem .yesnoRow {
    display: flex;
    justify-content: space-around;
    margin-top: 100px;}
.problem .yesnoBox {
    width: 50%;
    border: solid 2px #fff;
    padding: 50px;
    margin: 0 15px;
}
.problem .yes {
    background: #eee;
    color: #000;
    border: solid 2px #f00;}
.problem .yes h4{
    color: #f00;}
.problem .yes h5{
    background: #f00;}

/*スマホ調整用*/
@media screen and (max-width:767px){
    .problem { padding: 50px 20px;}
    .problem h2 {
        font-size: 2.4rem;
        color: #ff0;
        line-height: 1.2;
        margin-bottom: 20px;
    }
    .problem h3 {
        font-size: 2.2rem;
        color: #ff0;
        line-height: 1.2;
        margin-bottom: 20px;
    }
    
    .problem img.ai{width: 100%;}
    .problem .yesnoRow{ display: block;}
    .problem .yesnoBox{ 
        width:100%;
        padding: 20px;
    margin: 0 0 50px 0;}
}

.howto { 
    font-size: 2.2rem; 
    color: #000;
    padding: 50px 30px;
    margin: auto;
    width: 90%;}
.howto h2 {
    font-size: 3.2rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 50px 0;}
.howto h2::before, .howto h2::after {
    content:'';
    width: 3px;
    height:60px;
    background: #1755aa;}
.howto h2::before{
    margin-right: 30px;
    transform: rotate(-35deg);}
.howto h2::after{
    margin-left: 30px;
    transform: rotate(35deg);}
.howto dl {
    padding: 0px 0px;
    margin-bottom: 20px;}
.howto dt {
    font-size: 1.8rem;
    font-weight: bold;
    background: #ccc;
    padding: 10px 20px;}
.howto dd {
    font-size: 1.2rem;
    margin-bottom: 50px;}

/*スマホ調整用*/
@media screen and (max-width:767px){
    .howto { 
        padding: 0;
        width: 98%;}
    .howto h2 {
        font-size: 1.8rem;
        padding: 20px 0;}
    .howto dt {
        font-size: 1.4rem;}
    .howto dd {
        padding: 20px;}
}

.works {
    font-size: 2.2rem;
    color: #000;
    padding: 50px 30px;}
.works h2 {
    font-size: 3.2rem;
    font-weight: bold;
    text-align: center;}
.works .worksRow{
    display: flex;
    justify-content: space-between;}
.works .worksRow .worksBox{
    width: calc(100%/3);
    padding: 0 20px;
    font-size: 0.8rem;
    line-height: 1rem;}

/*スマホ調整用*/
@media screen and (max-width:767px){
    .works h2 { font-size: 2.2rem;}
    .works p { font-size: 1.2rem;}
    .works .worksRow .worksBox{ padding: 0 5px;}
}

.faq {
    background: #000;
    font-size: 1.2rem;
    color: #fff;
    padding: 50px 30px;}
.faq h2{
    font-size: 2.8rem;
    font-weight: bold;
    text-align: center;}
.faqList{ padding: 50px;}
.faq .faqTitle{
    font-size: 1.8rem;
    font-weight: bold;}
.faq .faqDetail{}

/*スマホ調整用*/
@media screen and (max-width:767px){
    .faq{padding: 30px 20px;}
    .faq h2{ 
        font-size: 2.2rem;
        color: #ff0;}
    .faqList{ padding: 0px 0px 50px 0px;}
}

.cta { padding: 50px 30px;}
.cta h2 { 
    font-size: 2.8rem; 
    font-weight: bold;
    text-align: center;}
.cta h3 { 
    font-size: 1.8rem; 
    font-weight: bold;
    text-align: center;}
.cta p { text-align: center;}
.cta form { 
    max-width: 420px;
    margin: 50px auto;}
.cta .feedback-input { 
    border-radius: 5px;
    border: 2px solid #f00;
    padding: 16px;
    margin-bottom: 15px;
    width: 100%;}
.cta .feedback-input:focus{
    border: 2px solid #000;}
.ct textarea{
    height:150px;
    line-height: 150%;
    resize: vertical;}
[type="submit"]{
    width: 100%;
    background: #f00;
    border-radius: 5px;
    border: 0px;
    cursor: pointer;
    color:#fff;
    font-size:24px;
    padding: 10px 0;
    transition: all 0.3s; }
[type="submit"]:hover { background:#000;}

/*スマホ調整用*/
@media screen and (max-width:767px){
    .cta { padding: 30px 20px;}
    .cta h2 { font-size:1.8rem;}
}

.download{ 
    background: #ccc;
    padding: 100px 20px;}
.download h2{
    font-size: 2.8rem;
    font-weight: bold;
    text-align: center;}
.download h3{
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;}
.download p{
    text-align: center;
    padding: 20px;}

/*スマホ調整用*/
@media screen and (max-width:767px){
    .download { padding: 50px 20px;}
    .download  h2 { font-size: 1.8rem;}
    .download  h3 { text-align: left;}
    .download  p{ text-align: left;}
}

.btnContactArea { margin: 20px 0;}
.btnContactArea a.btn_blue{ 
    display: block;
    padding: 1.5rem 3.0rem;
    border-radius: 8px;
    transition: 0.3s;
    max-width: 580px;
    background: #1755aa;}
.btnContactArea a.btn_blue span.bl__text { 
    display: block;
    position: relative;
    text-align: center;
    color: #fff;
    font-size: 1.8rem;}
a.btn_blue:hover {background: #01b5d0;}

/*スマホ調整用*/
@media screen and (max-width:767px){
    .btnContactArea a.btn_blue{ 
        max-width: 100%;
        padding: 1.5rem 1.2rem;}
    .btnContactArea a.btn_blue span.bl__text{
        font-size: 1.2rem;
    }
}
